.main-log-in-screen {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin: 10px 0;
  font-size: 16px;
  color: #555;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
}

button:hover {
  background-color: #45a049;
}

.alert {
  color: #ff0000;
  margin-top: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: #3498db;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-log-in-screen {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

button {
  background-color: #2ecc71; 
  color: #fff; 
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #27ae60; 
}

.login-heading {
  font-size: 2.5em; /* Adjust the font size as needed */
  font-weight: bold;
  color: #fff; /* Set the text color */
  animation: fadeInUp 1s ease; /* Add a fadeInUp animation */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-form {
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for the form */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  animation: fadeInUp 1s ease; /* Add a fadeInUp animation */
}

/* Add additional styles for input fields and button as needed */
.login-form input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  background-color: #2ecc71; /* Button background color */
  color: #fff; /* Button text color */
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add animation to button */
}

.login-form button:hover {
  background-color: #27ae60; /* Change background color on hover */
}